/*USER DASHBOARD - CSS*/
* body {
  margin: 0;
  box-sizing: border-box;
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgba(218, 216, 214, 0.4);
  border: orange 2px solid;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
  font-size: larger;
}

.nav-items a:hover {
  background-color: orangered ;
  color: white;
  padding: 12px;
}

/* Page introduction*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(214, 65, 6);
  font-size: 18px;
  text-align: right;
  margin: 25px;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
  color: orange;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  float: right;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, orange, red);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }


}

/*buttons*/
.btn1 {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: orange;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.btn1:hover {
  background-color: transparent;
  color: #fff;
}

.btn2 {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: orange;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.btn2:hover {
  background-color: transparent;
  color: #fff;
}

.btn3 {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: orange;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.btn3:hover {
  background-color: transparent;
  color: #fff;
}

body {
  background-color: #328f8a;
  background-image: linear-gradient(to bottom, rgba(255, 252, 251, 0.5) 0%, rgba(245, 173, 40, 0.5) 100%), url("image.png");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loginbox{
    width: 400px;
    height: 70px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }



h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #7237fc;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #7237fc;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;  
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #a5cee9;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey; 
}

.loginbox a:hover
{
    color: #ffc1ff; 
}

.loginbox {   
    padding: 25px;   
    background-color: rgba(218, 216, 214, 0.4);;  
} 

.btncancel {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;   
} 
  
.btncancel a:hover
{
    color: orangered; 
}

