* body {
  margin: 0;
  box-sizing: border-box;
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgba(218, 216, 214, 0.4);
  border: orange 2px solid;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
  font-size: larger;
}

.nav-items a:hover {
  background-color: orangered ;
  color: white;
  padding: 12px;
}

.dropbtn {
  background-color: none;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: orange;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: orangered;}

/* Page introduction*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(255, 252, 251, 0.5) 0%, rgba(245, 173, 40, 0.5) 100%), url("img/form1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(214, 65, 6);
  font-size: 18px;
  text-align: right;
  margin: 25px;
}

.p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 75%;
  align-items: center;
  color: #fafafa;
}

/*style the sign out button*/
.fa-sign-out{
  font-size:40px;
  color:rgb(36, 35, 35);
  padding: 5px;
  background-color: none;
  background: none;
}

/*buttons*/
.birthRegbtn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: orange;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.birthRegbtn:hover {
  background-color: transparent;
  color: #fff;
}

.marriageRegbtn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: orange;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.marriageRegbtn:hover {
  background-color: transparent;
  color: #fff;
}

.deathRegbtn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: orange;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.deathRegbtn:hover {
  background-color: transparent;
  color: #fff;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
  color: orange;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  float: right;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, orange, red);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }


}



