body{
  background-color: rgb(236, 235, 235);
}

/* style and align the menu tab */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgba(179, 178, 177, 0.4);
  border: orange 2px solid;
  background: rgba(0, 0, 0, 0.075);
  
}
/*style the "Birth registration form" title*/
.header h2{
  color: rgb(19, 18, 18);
}

/*style the style the navigation tabs*/
.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

/*style the style the navigation tabs*/
.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
  font-size: larger;
}

/*style the tabs(buttons) on menu bar*/
.nav-items a:hover {
  background-color: orangered;
  color: black;
  padding: 12px;
}


input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 25%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h3 span {
  font-size: 22px;
}
h3 input.search-input {
  width: 300px;
  margin-left: auto;
  float: right
}
.regtable {
  margin-top: 32px;
}

@media print {
  #print {
    display: none;
  }
}

@media print {
  table td:last-child {display:none}
  table th:last-child {display:none}
}

